html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Regular'),
    url('../fonts/MontserratRegular.woff2') format('woff2'),
    url('../fonts/MontserratRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-SemiBold'),
    url('../fonts/MontserratSemiBold.woff2') format('woff2'),
    url('../fonts/MontserratSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Bold'),
    url('../fonts/MontserratBold.woff2') format('woff2'),
    url('../fonts/MontserratBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-ExtraBold'),
    url('../fonts/MontserratExtraBold.woff2') format('woff2'),
    url('../fonts/MontserratExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

:root {
    /* colors */
    --color-normal: #000;
    --color-normal-alternative: #fff;
    --color-gray-normal: #cacaca;
    --color-text-button-normal: #fff;
    --color-text-button-black-normal: #000;
    --color-form-normal: #414141;
    --color-social-normal: #666;
    --color-button-normal: #f90;
    --color-button-black-normal: #000;
    --color-focus: #f90;
    --color-focus-button-alternative: #ffb84d;
    --color-button-black-active: #666;
    --color-hover: #f90;
    --color-active: #e1670e;
    --color-search-active: #f90;
    --color-gray-active-alternative: #fff;
    --color-text-button-black-active: #fff;
    --color-plus-active: #fff;
    --color-form-active: #666;
    --color-text-form-active: #fff;
    --color-svg-logo: #000;
    --color-svg-logo-alternative: #fff;
    --background-site: #e5e5e5;;
    --background-header: #fff;
    --background-footer: #000;
    --shadow: rgba(0, 0, 0, 0.1);
    --gradient-about: rgba(0, 0, 0, 0.5);
    /* parameters */
    --about-margin: 32px;
}

body {
    min-width: 320px;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    background-color: var(--background-site);
}

/* glob */

.container {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.heading {
    margin: 0;
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 400;
    line-height: 59px;
    color: var(--color-text-normal);
}

.subject {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: var(--color-text-normal);
}

.text {
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: var(--color-text-normal);
}

.button {
    padding: 20px 38px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: var(--color-text-button-normal);
    background-color: var(--color-button-normal);
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: outline 0.1s linear, background-color 0.1s linear;
}

.button:focus {
    outline: none;
    background-color: var(--color-focus-button-alternative);
}

.button:hover {
    background-color: var(--color-focus-button-alternative);
}

.button:active {
    background-color: var(--color-active);
}

.logo__link {
    margin-right: auto;
    display: block;
    max-width: 225px;
    max-height: 72px;
    outline-offset: 5px;
    outline: 2px solid transparent;
    transition: outline-color 0.1s linear;
}

.logo__link:focus {
    outline-color: var(--color-focus);
}

.logo__link:active {
    outline-color: transparent;
}

.logo__svg {
    max-width: 225px;
    max-height: 72px;
    fill: var(--color-svg-logo);
}

.logo__svg--footer {
    fill: var(--color-svg-logo-alternative);
}

/* header */
.header {
    margin-bottom: 50px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: var(--background-header);
    box-shadow: 0px 5px 40px var(--shadow);
}

.header__box {
    justify-content: space-between;
    gap: 260px;
    align-items: center;
    min-height: 100px;
    border: none;
}

.header__menu {
    margin-left: auto;
}

.header__list {
    justify-content: space-between;
    gap: 85px;
    min-height: 22px;
}

.header__link {
    display: block;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    outline-offset: 3px;
    outline: 2px solid transparent;
    transition: color 0.1s linear, outline-color 0.1s linear;
}

.header__link:focus {
    outline-color: var(--color-focus);
}

.header__link:hover {
    color: var(--color-hover);
}

.header__link:active {
    outline-color: transparent;
    color: var(--color-active);
}

.header__link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: -7px;
    left: 0;
    border-bottom: 2px solid transparent;
    transition: border-color 0.1s linear;
}

.header__link:focus::after {
    border-color: transparent;
}

.header__link:hover::after {
    border-color: var(--color-hover);
}

.header__link:active::after {
    border-color: var(--color-active);
}

.header__search-button {
    padding: 0;
    max-width: 24px;
    max-height: 24px; 
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline-offset: 2px;
    outline: 2px solid transparent;
    transition: outline 0.1s linear;
}

.header__search-svg {
    max-width: 24px;
    max-height: 24px;
    stroke: var(--color-normal);
    transition: stroke 0.1s linear;
}

.header__search-button:focus {
    outline-color: var(--color-focus);
}

.header__search-button:active {
    outline-color: transparent;
}

.header__search-button:focus svg {
    stroke: var(--color-normal);
}

.header__search-button:hover svg {
    stroke: var(--color-hover);
}

.header__search-button:active svg {
    stroke: var(--color-search-active);
}

/* preview */
.main__preview {
    margin: 0;
    margin-bottom: 50px;
}

.preview__box {
    position: relative;
    padding: 100px 80px;
    border-radius: 32px;
    background-image: url(../img/preview_photo-1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.preview__content {
    margin: 0;
    margin-right: auto;
    max-width: 837px;
    min-height: 420px;
}

.preview__title {
    margin: 0;
    margin-bottom: 24px;
    min-height: 170px;
    font-family: 'Montserrat';
    font-size: 70px;
    font-weight: 800;
    line-height: 85px;
    color: var(--color-normal-alternative);
}

.preview__text {
    margin: 0;
    margin-bottom: 90px;
    min-height: 58px;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: var(--color-normal-alternative);
}

.preview--button {
    padding: 25px 39px;
    max-width: 280px;
    max-height: 78px;
    font-size: 23px;
    line-height: 28px;
}

.preview__list {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: flex-end;
}

.preview__item {
    margin: 0;
    margin-right: 20px;
    padding-bottom: 30px;
    width: 15px;
    height: 45px;
}

.preview__item:last-child {
    margin-right: 0;
}

.preview__svg {
    fill: var(--color-gray-normal);
}

.preview__svg--active {
    fill: var(--color-gray-active-alternative);
}

/* about-us */
.main__about {
    margin-bottom: 100px;
}

.about__heading {
    margin: 0;
    margin-bottom: 20px;
}

.about__text {
    margin: 0;
    margin-right: auto;
    margin-bottom: 50px;
}

.about__text--desc {
    max-width: 1235px;
    line-height: 32px;
}

.about__text--span {
    margin-bottom: 0;
    max-width: 450px;
    min-height: 128px;
}

.about__box-left {
    align-items: flex-end;
    margin: 0;
    margin-right: var(--about-margin);
    width: calc((100% - var(--about-margin) - 2px) / 2);
    min-height: 100%;
    background-image: url(../img/about-us_photo.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: 32px;
}

.about__preview {
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 50px;
    gap: 160px;
    min-height: 196px;
    border: none;
}

.about__preview::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--gradient-about);
    border-radius: 32px;
}

.about__preview-text {
    margin: 0;
    z-index: 1;
    max-width: 433px;
    min-height: 96px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    color: var(--color-normal-alternative);
}

.about--button {
    z-index: 1;
    min-width: 175px;
    height: 60px;
    background-color: transparent;
    outline: 3px solid var(--color-button-normal);
    outline-offset: -3px;
}

.about--button:focus {
    background-color: var(--color-focus);
}

.about--button:hover {
    background-color: var(--color-hover);
}

.about--button:active {
    outline: var(--color-active);
    background-color: var(--color-active);
}

.about__box-right {
    flex-direction: column;
    width: calc((100% - var(--about-margin) + 2px) / 2);
}

.about__span-box {
    margin: 0;
    padding-top: 65px;
    padding-right: 118px;
    padding-bottom: 65px;
    padding-left: 60px;
    height: calc((100% - var(--about-margin)) / 2);
    border: none;
    outline-offset: -1px;
    outline: 1px solid var(--color-gray-normal);
    border-radius: 32px;
}

.about__span-box:not(:last-child) {
    margin-bottom: 32px;
}

.about__span-content {
    margin: 0;
    padding-left: 240px;
    width: 100%;
    min-height: 165px;
    background-position: left center;
    background-size: 190px 165px;
    background-repeat: no-repeat;
}

.about__span-content--image1 {
    background-image: url(../img/about-us_decorate-1.svg);
}

.about__span-content--image2 {
    background-image: url(../img/about-us_decorate-2.svg);
}

.about__subject {
    margin: 0;
    margin-bottom: 8px;
    width: 100%;
    min-height: 29px;
}

/* how */
.main__how {
    margin-bottom: 100px;
}

.how__heading {
    margin: 0;
    margin-bottom: 50px;
}

.how__subject {
    line-height: 32px;
}

.how__nav {
    justify-content: flex-start;
    margin: 0;
    margin-bottom: 45px;
}

.how__list {
    justify-content: space-between;
    gap: 85px;
}

.how__item {
    margin: 0;
    min-height: 22px;
}

.how__link {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: var(--color-normal);
    outline-offset: 3px;
    outline: 2px solid transparent;
    transition: outline-color 0.1s linear;
}

.how__link:focus {
    color: var(--color-normal);
    outline-color: var(--color-focus);
}

.how__link:hover {
    color: var(--color-hover);
}

.how__link:active {
    outline-color: transparent;
    color: var(--color-active);
}

.how__link--active {
    min-width: 47px;
    color: var(--color-active);
}

.how__box {
    justify-content: space-between;
    align-items: flex-end;
}

.how__subject {
    margin: 0;
    margin-bottom: 8px;
}

.how__box-text {
    margin-bottom: 18px;
}

.how__text {
    margin: 0;
    max-width: 758px;
}

.how__box-button {
    justify-content: flex-start;
    gap: 32px;
}

.how__button--black {
    margin: 0;
    outline-offset: -1px;
    outline: 1px solid var(--color-button-black-normal);
    color: var(--color-text-button-black-normal);
    font-weight: 400;
    background-color: transparent;
}

.how__button--black:focus {
    background-color: var(--color-button-black-active);
    color: var(--color-text-button-black-active);
    outline-color: var(--color-button-black-active);
}

.how__button--black:hover {
    background-color: var(--color-button-black-active);
    color: var(--color-text-button-black-active);
    outline-color: var(--color-button-black-active);
}

.how__button--black:active {
    background-color: var(--color-button-black-normal);
    color: var(--color-text-button-black-active);
    outline-color: var(--color-button-black-normal);
}

.how__image {
    border-radius: 32px;
    max-width: 870px;
    max-height: 460px;
}

/* questions */
.main__questions {
    min-height: 658px;
    margin-bottom: 100px;
}

.questions__heading {
    padding-top: 11px;
    margin-bottom: 32px;
}

.questions__button {
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 112px;
    border: none;
    border-top: 1px solid var(--color-gray-normal);
    border-bottom: 1px solid var(--color-gray-normal);
    background-color: transparent;
    color: var(--color-normal);
    cursor: pointer;
    transition: color 0.1s linear;
}

.questions__button:focus {
    outline: none;
    color: var(--color-focus);
}

.questions__button:hover {
    color: var(--color-hover);
}

.questions__button:active {
    color: var(--color-normal);
}

.questions__item:not(:first-child) button {
    margin-top: -1px;
}

.questions__button::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -1px;
    right: 0;
    bottom: -1px;
    left: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: border-top-color 0.1s linear, border-bottom-color 0.1s linear;
}

.questions__button:focus::after {
    border-top-color: var(--color-focus);
    border-bottom-color: var(--color-focus);
}

.questions__button:hover::after {
    border-top-color: var(--color-hover);
    border-bottom-color: var(--color-hover);
}

.questions__button:active::after {
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.questions__subject {
    margin: 0;
}

.questions__plus {
    fill: var(--color-gray-normal);
    transition: fill 0.1s linear, transform 0.1s linear;
}

.questions__button:focus svg {
    fill: var(--color-focus);
}

.questions__button:hover svg {
    fill: var(--color-hover);
}

.questions__button:active svg {
    fill: var(--color-gray-normal);
    transform: rotate(45deg);
}

.questions__plus-path {
    fill: var(--color-normal);
    transition: fill 0.1s linear;
}

.questions__button:focus svg path {
    fill: var(--color-plus-active);
}

.questions__button:hover svg path {
    fill: var(--color-plus-active);
}

.questions__button:active svg path {
    fill: var(--color-normal);
}

/* footer */
.footer {
    background-color: var(--background-footer);
}

.footer__container {
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 594px;
    gap: 236px;
}

.footer__box-nav {
    margin-right: auto;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__nav {
    margin-bottom: 90px;
    min-height: 252px;
}

.footer__link {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    color: var(--color-gray-normal);
    outline-offset: 3px;
    outline: 2px solid transparent;
    transition: color 0.1s linear, outline-color 0.1s linear;
}

.footer__link:focus {
    outline-color: var(--color-focus);
    color: var(--color-gray-normal);
}

.footer__link:hover {
    color: var(--color-hover);
}

.footer__link:active {
    color: var(--color-active);
    outline-color: transparent;
}

.footer__social {
    justify-content: space-between;
    max-width: 145px;
    max-height: 60px;
}

.footer__social-logo {
    fill: var(--color-social-normal);
    transition: fill 0.1s linear;
}

.footer__social-link {
    outline-offset: 3px;
    outline: 2px solid transparent;
    transition: outline-color 0.1s linear;
}

.footer__social-link:focus svg {
    fill: var(--color-social-normal);
}

.footer__social-link:focus {
    outline-color: var(--color-focus);
}

.footer__social-link:hover svg {
    fill: var(--color-hover);
}

.footer__social-link:active svg {
    fill: var(--color-active);
}

.footer__social-link:active {
    outline-color: transparent;
}

.footer__container-form {
    max-width: 570px;
    min-height: 494px;
}

.footer__box-form {
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
}

.footer__box-form--heading {
    margin-bottom: 25px;
    color: var(--color-gray-normal);
}

.footer__form {
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.footer__input {
    padding: 14px 24px;
    max-height: 60px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: var(--color-gray-normal);
    background-color: var(--color-form-normal);
    outline: none;
    border: none;
    border-radius: 16px;
    transition: background-color 0.1s linear;
}

.footer__input--textarea {
    min-height: 150px;
}

.footer__input:focus {
    outline: none;
    color: var(--color-gray-normal);
    background-color: var(--color-form-active);
}

.footer__input:hover {
    color: var(--color-gray-normal);
    background-color: var(--color-form-active);
}

.footer__input:active {
    outline: none;
    background-color: var(--color-form-active);
    color: var(--color-text-form-active);
}

.footer__box-button {
    gap: 22px;
    align-items: center;
}

.footer__label-check {
    gap: 4px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4px;
    cursor: pointer;
}

.footer__input-check {
    display: none;
}

.footer__checkbox {
    position: relative;
    width: 14px;
    height: 14px;
    border: 1px solid var(--color-gray-normal);
    border-radius: 2px;
}

.footer__input-check + .footer__checkbox::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/check.svg);
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.1s linear;
}

.footer__input-check:checked + .footer__checkbox::after {
    opacity: 1;
}

.footer__text {
    margin: 0;
    color: var(--color-gray-normal);
}

.footer__button {
    padding: 19px 52px;
    min-height: 58px;
}

.footer__box-text {
    margin: 0;
    max-width: 363px;
    min-height: 320px;
}